/**
 * CodeView Component Styles
 */

.tds-code-view {
  width: 100%;
}

.tds-code-view__code {
  background-color: var(--tds-color-background-surfaceMedium);
  border: var(--tds-borderWidth-base-s) solid var(--tds-color-border-subtle);
  border-radius: var(--tds-borderRadius-container-1x);
  padding: var(--tds-spacing-container-1_5x);
  overflow-x: auto;
  font-family: 'Courier New', monospace;
  font-size: var(--tds-core-fontSize-scaled-0_87x);
  line-height: var(--tds-core-lineHeight-large);
  color: var(--tds-color-foreground-default);
}

.tds-code-view__empty {
  padding: var(--tds-spacing-container-2x);
  text-align: center;
  color: var(--tds-color-foreground-subtle);
  font-family: var(--tds-typography-body-medium-sm-font-family);
  font-size: var(--tds-typography-body-medium-sm-font-size);
  font-weight: var(--tds-typography-body-medium-sm-font-weight);
  line-height: var(--tds-typography-body-medium-sm-line-height);
}

