/**
 * App Component Styles
 * Main application layout
 * Background: #F4F1ED from Figma
 */

.tds-app {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--tds-color-background-canvas);
  overflow: hidden;
}

